body {
  background: url("hatched-light.jpg") #ecebe7;
  margin: auto;
  font-size: 1.1rem;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

header {
  background: url("header-bg-long.jpg") rgb(40,35,35);
  box-shadow: 0 1px 2px #333333;
  border-bottom: 1px solid #222;
  margin: auto;
  padding: 0px 5%;
}

header h1 {
  margin: 0px;
}

header h1 a,
header h1 a:visited {
  color: white;
  text-decoration: none;
}

#content {
  margin: 0px 5%;
}

#installLink {
  float: right;
  margin-top: 8px;
  cursor: pointer;
}

ul {
  padding: 0px;
  list-style-type: none;
}

li {
  margin-bottom: 12px;
}

#newHandle li > * {
  height: 3.8rem;
  width: 100%;
  font-weight: 500;
}

input, button {
  padding: 0px;
  padding-left: 0.5rem;
  font-size: 1.4rem;
  -moz-box-sizing: border-box;
}

#previousHandles li {
  background-color: white;
  height: 3.0rem;
  border: solid green 1px;
}

#previousHandles a {
  display: block;
  padding: 0px;
  padding-left: 0.5rem;
  margin-right: 0.5rem;
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 2.5;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.deleteHandle {
  float: right;
  padding: 0.9rem 0.5rem;
  cursor: pointer;
}

button {
  background-color: #F5F5F5;
  background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
  background-repeat: repeat-x;
  border-radius: 0.1rem;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

footer {
  padding-top: 0.3rem;
  text-align: center;  
}

footer a, footer a:visited {
  color: #999999;
}

#error { color: red; }

.hidden { display: none; }
